<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>TorBorad - @ViewData["Title"]</title>

	<link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
<header>
	<nav id="navbar">
    	<a class="nav-item navbar-brand" asp-page="/Index">TorBoard</a>
    	<a class="nav-item" asp-page="/Index">Home</a>
    	<a class="nav-item" asp-page="/Rules">Rules</a>
    	<a class="nav-item" id="add-btn" asp-page="/PostForm">
    		<i class="fas fa-plus"></i>
    	</a>
    </nav>
</header>
<div class="container">
	<main role="main" class="pb-3">
		@RenderBody()
	</main>
</div>

<footer class="border-top footer text-muted">
	<div class="container">
		&copy; 2021 - TorBoard.Web - <a asp-area="" asp-page="/Privacy">Privacy</a>
	</div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
