@model TorBoard.Web.Pages.Shared.PostView

@{
	Layout = null;
}

<article class="border my-2">
	<h5>@Model.Post.Id</h5>
	<h6>@Model.Post.CreationDate.ToString("(ddd) dd-MMM-yyyy HH:mm")</h6>
	<p>@Model.Post.Content</p>
</article>
