@using System.Text.RegularExpressions
@model TorBoard.Web.Pages.Shared.PostView

@{
	Layout = null;
}

<article class="post">
	<h5 class="post-id">@Model.Post.Id</h5>
	<h6 class="post-date">@Model.Post.CreationDate.ToString("(ddd) dd-MMM-yyyy HH:mm")</h6>
	<p class="post-content">@Model.Post.Content</p>
</article>
