@page
@using TorBoard.Core.Services
@using TorBoard.Web.Pages.Shared
@using System.Linq
@model IndexModel
@inject PostService _postService;
@{
	ViewData["Title"] = "Home page";
}

@{
	var posts = (await _postService.GetPostsAsync()).OrderByDescending(x => x.CreationDate);
	if (posts.Any())
	{
		@foreach (var post in posts)
			await Html.RenderPartialAsync("Shared/_PostView", new PostView(post));
	}
	else
	{
		<h1 class="display-4">Welcome</h1>
	}
}
