@page
@model TorBoard.Web.Pages.PostForm

@{
	ViewData["Title"] = "Add new post";
}

<form method="Post">
	<h1>New post</h1>
	<textarea class="form-textarea" rows="10" asp-for="Post.Content"></textarea>
	<span asp-validation-for="Post.Content" class="form-validation"></span>
	<button class="form-button">
		<i class="fas fa-plus"></i>
	</button>
</form>